*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* == Variable define ==*/
:root {
  --primary-color: #ffffff;
  --secondry-color: #3A336F;
  --white-color: #fff;
  --text-color: #b0b0b0;
  --black-color: #1E1D23;
  --primary-font: "Baloo Da 2", cursive;
  --secondry-font: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondry-color);
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--white-color);
  text-shadow: 1px 0 6px #000;
}

h1 span {
  color: var(--primary-color);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  line-height: 3rem;
}

h4 {
  text-transform: capitalize;
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black-color);
  font-family: var(--secondry-font);
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  border-radius: 5px;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--black-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.wrapper {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}

.header-section .navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.7803921569);
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-section .headerPadding {
  padding-top: 30px;
}
.header-section .navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 0.3s linear;
}
.header-section .navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.header-section .nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  letter-spacing: 1px;
}
.header-section .nav-link:hover,
.header-section .nav-link.active {
  color: var(--primary-color) !important;
}
.header-section .navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;
}
.header-section .navigation-wrap .scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.9);
  transition: all 0.14s ease-in-out 0s;
}
.header-section .navigation-wrap .scroll-on .nav-link {
  color: var(--black-color);
}
.header-section .navigation-wrap .scroll-on .nav-link:hover,
.header-section .navigation-wrap .scroll-on .nav-link.active {
  color: var(--primary-color);
}

.hero-section {
  background: var(--secondry-color);
}
.hero-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
}
.hero-section h1 {
  color: var(--primary-color);
}
.hero-section p {
  color: var(--primary-color);
}

.progress-section {
  background: #eee;
}
.progress-section .progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-section .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-section .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-section .progress .progress-left {
  left: 0;
}
.progress-section .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress-section .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}
.progress-section .progress .progress-right {
  right: 0;
}
.progress-section .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress-section .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #eee;
  font-size: 24px;
  color: var(--black-color);
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress-section .progress.blue .progress-bar {
  border-color: #049dff;
}
.progress-section .progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress-section .progress.yellow .progress-bar {
  border-color: #fdba04;
}
.progress-section .progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.progress-section .progress.pink .progress-bar {
  border-color: #ed687c;
}
.progress-section .progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress-section .progress.green .progress-bar {
  border-color: #1abc9c;
}
.progress-section .progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress-section .progress {
    margin-bottom: 20px;
  }
}
.progress-section .monica-writing-entry-btn {
  position: absolute;
  right: 1px;
  bottom: 1px;
  pointer-events: all;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all ease 0.2s;
  border-radius: 20px;
  border: 1px solid transparent;
}
.progress-section .monica-writing-clickable-item {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  height: 26px;
  color: #a0a0a0;
}
.progress-section .monica-writing-clickable-item.monica-writing-first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-section .monica-writing-clickable-item.monica-writing-last {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress-section .monica-writing-clickable-item:hover {
  color: #3872e0;
}
.progress-section .monica-writing-divider {
  background-color: #eeeeee;
  min-width: 1px;
  height: 12px;
}
.progress-section .monica-writing-entry-btn:hover {
  background: #ffffff;
  border: 1px solid rgba(115, 114, 120, 0.15);
}
.progress-section .monica-writing-caret {
  width: 1.5px;
  background-color: #3872e0;
  pointer-events: none;
  position: absolute;
  border-radius: 1px;
}
.progress-section .monica-writing-caret-head {
  background-color: #3872e0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  left: -2.25px;
}
@media print {
  .progress-section .monica-writing-entry-btn {
    display: none;
  }
}

.course-section {
  text-align: center;
  padding: 20px;
  background: #eee;
}
.course-section p {
  color: var(--black-color);
}
.course-section h2 {
  color: var(--black-color);
}
.course-section h3 {
  color: var(--black-color);
  padding-top: 10px;
}
.course-section .card {
  border: none;
  background: #fff;
  background-size: cover;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.05);
}
.course-section .main-card {
  transition: all 0.4s ease-out 0s;
}
.course-section .main-card:hover {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.6);
}
.course-section .main-btn {
  background-color: var(--secondry-color);
  border: 0.1875rem solid var(--secondry-color);
  color: var(--white-color);
}
.course-section .main-btn:hover {
  background-color: transparent;
  color: var(--secondry-color);
}

.popular-courses-section {
  background: var(--secondry-color);
}
.popular-courses-section .seat-rating-fee {
  background: #e6e6e6;
  display: flex;
  justify-content: space-between;
  height: 45px;
}
.popular-courses-section h2 {
  color: var(--white-color);
}
.popular-courses-section p {
  color: var(--black-color);
}
.popular-courses-section .single-popular-course {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background: var(--white-color);
  transition: all 0.14s ease-in-out 0s;
}
.popular-courses-section .single-popular-course:hover {
  margin-top: -8px;
}
.popular-courses-section a {
  color: var(--text-color);
  font-size: 12px;
}
.popular-courses-section .fa-circle {
  margin-right: 10px;
  font-size: 8px;
}
.popular-courses-section i {
  font-size: 14px;
  color: #b0b0b0;
  margin-left: 20px;
}
.popular-courses-section .free {
  display: inline-block;
  background-color: var(--black-color);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13.5px 22px;
}
.popular-courses-section .free :hover {
  color: var(--white-color) !important;
}
.popular-courses-section .seat-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-section {
  background: var(--primary-color);
}
.registration-section .clock_sec .clockinner {
  background: transparent;
  color: var(--black-color);
  padding: 35px 20px;
  margin-right: 15px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 5px;
  margin-top: 65px;
}
.registration-section h2 {
  color: var(--secondry-color);
}
.registration-section p {
  color: var(--black-color);
}
.registration-section .register_form {
  background: #fff;
  text-align: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.registration-section .register_form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.registration-section .register_form .primary-btn {
  width: 100%;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px;
  color: var(--white-color);
  background: var(--secondry-color);
  transition: all 0.4s ease-out 0s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.registration-section .primary-btn:hover {
  background: var(--black-color);
  color: var(--white-color);
}

.out-trainer #team {
  background: #eee !important;
}
.out-trainer .btn-primary:hover,
.out-trainer .btn-primary:focus {
  background-color: var(--secondry-color);
  border-color: var(--secondry-color);
  box-shadow: none;
  outline: none;
}
.out-trainer .btn-primary {
  color: #fff;
  background-color: var(--secondry-color);
  border-color: var(--secondry-color);
}
.out-trainer section {
  padding: 60px 0;
}
.out-trainer section .section-title {
  text-align: center;
  color: var(--secondry-color);
  margin-bottom: 50px;
  text-transform: uppercase;
}
.out-trainer #team .card {
  border: none;
  background: #ffffff;
}
.out-trainer .image-flip:hover .backside,
.out-trainer .image-flip.hover .backside {
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}
.out-trainer .image-flip:hover .frontside,
.out-trainer .image-flip.hover .frontside {
  transform: rotateY(180deg);
}
.out-trainer .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.out-trainer .frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.out-trainer .backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transform: rotateY(-180deg);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.out-trainer .frontside,
.out-trainer .backside {
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.out-trainer .frontside .card,
.out-trainer .backside .card {
  min-height: 312px;
}
.out-trainer .backside .card a {
  font-size: 18px;
  color: var(--secondry-color) !important;
}
.out-trainer .frontside .card .card-title,
.out-trainer .backside .card .card-title {
  color: var(--secondry-color) !important;
}
.out-trainer .frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.courses-hero-section {
  background: var(--secondry-color);
}
.courses-hero-section .courses-hero {
  text-align: center;
  padding: 180px 0px 180px 0px;
}
.courses-hero-section h2 {
  color: var(--primary-color);
}
.courses-hero-section p {
  color: var(--primary-color);
}
.courses-hero-section p a {
  color: var(--primary-color);
}

.courses-courses-section {
  background: #eee;
}
.courses-courses-section p {
  color: var(--black-color);
}
.courses-courses-section h2 {
  color: var(--secondry-color);
}
.courses-courses-section h3 {
  color: var(--black-color);
  padding-top: 10px;
}
.courses-courses-section .mixitup-btn {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  padding: 8px 0px;
}
.courses-courses-section .mixitup-btn button {
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: #eee;
  color: var(--black-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.4s ease-out 0s;
}
.courses-courses-section .card {
  border: none;
  background: #fff;
  background-size: cover;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.05);
}
.courses-courses-section .main-card {
  transition: all 0.4s ease-out 0s;
}
.courses-courses-section .main-card:hover {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.6);
}
.courses-courses-section .main-btn {
  background-color: var(--secondry-color);
  border: 0.1875rem solid var(--secondry-color);
  color: var(--white-color);
}
.courses-courses-section .main-btn:hover {
  background-color: transparent;
  color: var(--secondry-color);
}

.footer-section {
  background: var(--secondry-color);
}
.footer-section .socail_links ul {
  display: flex;
}
.footer-section .socail_links ul li {
  margin-right: 10px;
}
.footer-section .socail_links ul li i {
  font-size: 65px;
}
.footer-section .newsletter_form {
  display: flex;
  background: var(--white-color);
  width: 75%;
}
.footer-section .newsletter_form input {
  width: 80%;
  height: 60px;
  background: transparent;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: none;
  background: #fff;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
}
.footer-section .newsletter_form button {
  height: 60px;
  width: 40%;
  border: none;
  font-size: 16px;
  color: var(--white-color);
  background: var(--black-color);
  padding: 10px;
  padding: 0 30px;
  cursor: pointer;
  top: 0px;
  right: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.footer-section h3 {
  color: var(--white-color);
}
.footer-section .footer_widget li {
  list-style-type: none;
}
.footer-section .footer_widget a {
  color: var(--white-color);
  font-size: 18px;
  padding-bottom: 30px;
}
.footer-section .footer-social a {
  padding: 8px 20px;
  color: #fff;
  background: #2d3092;
  margin-right: 20px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4392156863);
  text-align: center;
}
.footer-section .footer-section a:hover {
  color: var(--white-color) !important;
}
.footer-section .footer-social a::before {
  background: #3498db;
  transform: rotate(45deg);
}
.footer-section .footer-social a:nth-child(1) {
  background: #3b5998;
}
.footer-section .footer-social a:nth-child(2) {
  background: #1da1f2;
}
.footer-section .footer-social a:nth-child(3) {
  background: #dd4b39;
}
.footer-section .footer-social a:nth-child(4) {
  background: #FDC300;
}
.footer-section .footer-social a:nth-child(5) {
  background: #FE0000;
}

@media (max-width: 991px) {
  .text-content {
    width: 100%;
  }
  .navigation-wrap {
    text-align: center;
    background: var(--white-color);
  }
  .navigation-wrap .navbar-brand img {
    height: 3.8125rem;
  }
  .navigation-wrap .nav-link {
    line-height: 1.875rem;
    color: var(--white-color);
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 28px;
  }
  body .hero-section .row {
    padding: 120px 0px 60px 0px;
    flex-direction: column-reverse;
    text-align: center;
  }
  body .hero-section .row img {
    margin-bottom: 30px;
  }
  body .course-section .main-card {
    margin-bottom: 40px;
  }
  body .course-section .all-courses {
    width: 40%;
    margin-top: 0px;
  }
  body .popular-courses-section .single-popular-course {
    margin-bottom: 40px;
  }
  body .popular-courses-section .bypass {
    margin-bottom: 10px !important;
  }
  body .registration-section .clock_sec .clockinner {
    padding: 20px;
    margin-right: 0px;
    margin-top: 25px;
    background: rgba(0, 0, 0, 0.311);
    margin: 8px;
    margin-bottom: 40px;
  }
  .footer-section {
    text-align: center;
  }
  .footer-section .newsletter_form {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .footer-section .newsletter_form button {
    width: 55%;
  }
  .footer-section .footer_title {
    margin-top: 25px;
  }
}/*# sourceMappingURL=main.css.map */